<h1>Todos</h1>
<div>
  <% @todos.each do |todo| %>
    <p> <%= todo.content %></p>
    <div><%= button_to "edit", edit_todo_path(todo), method: :get %></div>
        <div><%= button_to "delete", todo_path(todo), method: :delete %></div>
  <% end %>
</div>

<%= link_to "todoを書き出す", new_todo_path %>